<div class="card">
    <div class="card-header">
    {{title}}
</div>

<div class="card-body">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <button class="btn btn-primary" (click)='toggleImage()'>
                            {{showImage ? 'Hide' : 'Show'}} Image
                        </button>
                    </th>
                    <th>product</th>
                    <th>code</th>
                    <th>available</th>
                    <th>price</th>
                    <th>5 star rating</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let product of products'>
                    <td>
                        <img *ngIf='showImage' [src]='product.imageUrl' [title]='product.productName'
                                [style.width.px]='imageWidth' [style.argin.px]='imageMargin'>
                    </td>
                    <td>{{product.productName}}</td>
                    <td>{{product.productCode}}</td>
                    <td>{{product.releaseDate}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.starRating}}</td>
                    <td><a class="action-btn" onclick="document.getElementById('id01').style.display='block'" (click)="onEdit(product)">edit</a></td>
                            <div id="id01" class="modal">
                                <div class="container">
                                    <div class="card">
                                        <form #productForm="ngForm" (ngSubmit)="onSubmit()" >
                                            <div class="card-header">
                                                {{title1}}
                                            </div>
                                            <div class="cardbody">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <tbody>
                                                            <tr>
                                                                <!-- <td><input type="hidden" name="_id" #_id="ngModel"
                                                                     [(ngModel)]="productItem._id"></td> -->
                                                                <td><label>Product Id</label></td>
                                                                <td><input type="text" name="p_id" #name="ngModel"
                                                                        [ngModel]="product.productId" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label>Product Name</label></td>
                                                                <td><input type="text" name="p_name" #name="ngModel"
                                                                        [ngModel]="product.productName" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label>Product Code</label></td>
                                                                <td><input type="text" name="p_code" #name="ngModel"
                                                                        [ngModel]="product.productCode" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label>Release Date</label></td>
                                                                <td><input type="text" name="p_date" #name="ngModel"
                                                                        [ngModel]="product.releaseDate" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label>Product Description</label></td>
                                                                <td><input type="text" name="p_desc" #name="ngModel"
                                                                        [ngModel]="product.description" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label>Product Price</label></td>
                                                                <td><input type="text" name="p_price" #name="ngModel"
                                                                        [ngModel]="product.price" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td><label>Product Rating</label></td>
                                                                <td><input type="text" name="p_rating" #name="ngModel"
                                                                        [ngModel]="product.starRating" />
                                                                </td>
                                                            </tr>
                            
                                                            <tr>
                                                                <td><label>Product Image</label></td>
                                                                <td><input type="text" name="p_img" #name="ngModel"
                                                                        [ngModel]="product.imageUrl" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                
                                                                <td><button class="btn btn-custom right" type="submit"
                                                                        [disabled]="!productForm.valid">Submit</button></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>     
                                            </div>
                                        </form>   
                                    </div>
                                </div>  
                            </div>
                        <td><a class="action-btn" [routerLink]="['']" (click)="onDelete(product)">delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>